<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

  {% include meta.html %}

  <link rel="stylesheet" type="text/css" href="{{ site.url}}{{ site.baseurl }}/style.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  <link rel="stylesheet" type="text/css" href="{{ site.url}}{{ site.baseurl }}/gitalk.css" />

  <link rel="stylesheet" href="{{ site.url}}{{ site.baseurl }}/share.min.css">
  <script src="{{ site.url}}{{ site.baseurl }}/social-share.min.js"></script>

</head>
